.jukebox {
  height: auto;
  align-items: center;
  margin-top: 400px;
}
h1 {
  font-family: "Monoton";
  color: yellow;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

body {
  background-color: rgb(226, 55, 226);
  background-image: url("../public/images/back.png"),
    url("../public/images/back.gif");
  background-repeat: no-repeat, repeat;
  background-position: center, right;
  background-size: 35%, 20%;

  overflow-y: scroll;
}
#text {
  font-family: "VT323", monospace;
  font-size: 50px;
  color: yellow;
}
